<html>
  <head>
    <script language="JavaScript" src={{ url_for('static', filename = 'fingerprint-features/WebGL/sha1.js')}}></script>
    <script type="text/javascript" src={{ url_for('static', filename = 'fingerprint-features/jquery-1.7.1.min.js')}}></script> 
    <script src={{ url_for('static', filename = 'fingerprint-features/ua-parser.min.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Canvas/demo1.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Canvas/demo2.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Canvas/demo3.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Canvas/demo4.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Canvas/demo5.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Canvas/demo6.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Canvas/demo7.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Canvas/demo8.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Canvas/demo9.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Canvas/demo10.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Canvas/demo11.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Canvas/demo12.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Canvas/demo13.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Video/video2.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/Worker/worker1.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/WebGL/texture/loader.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/WebGL/texture/app.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/WebGL/texture/gl-matrix-min.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/WebGL/pure/pure.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/WebGL/texture/newdemo.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/WebGL/varying/varying.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/WebGL/varying/varying2.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/WebGL/varying/varying3.js')}}></script>
    <script src={{ url_for('static', filename = 'fingerprint-features/collect_novideo.js')}}></script>
  
  </head>
  <style>
  </style>
  <body style="background-color:powderblue;" onload="myGetFingerprint()">
  </body>
</html>
