<!DOCTYPE html><html>
    </p><table id="fp"></table><table id="scanner"></table>
    <script>!function (a, b, c, d, e, f) {
    a.ddjskey = e;
    a.ddoptions = f || null;
    var m = b.createElement(c), n = b.getElementsByTagName(c)[0];
    m.async = 1, m.src = d, n.parentNode.insertBefore(m, n);
    }(window, document, "script", "https://js.datadome.co/tags.js","D66B23AC3F48A302A7654416846381");
    </script>
    <script src={{ url_for('static', filename = 'fpCollect.min.js')}}></script><script src={{ url_for('static', filename = 'niceDisplayFp.js')}}></script>
    <iframe id = "testiframe1" src = "https://antoinevastel.com/bots/"   height = "800px" width = "100%" > </iframe>
    

    
    
    <style>#news {
        font-size: 2.1em;
        /*margin-bottom: 1em;*/
        margin-top: 1.5em;
    }
    
    #news b {
        font-size: 2.2em;
    }
    .error {
        color: red;
    }
    
    .success {
        color: green;
    }</style></body></html>