<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>echarts</title>
    <style type="text/css">
        html,
        body {
            width: 100%;
            height: 100%;
        }
 
        body {
            margin: 0px;
            padding: 0px
        }
 
        div {
            float: left;
        }
 
        #container {
            width: 50%;
            height: 100%;
        }
 
        #info {
            padding: 10px 20px;
        }
    </style>
</head>
 
<body>
    <div id="container"></div>
    <form method="post">
        Senddata <input type="text" name="title" autocomplete="off" required>
        <input class="btn" type="submit" name="submit" value="Add">
        <p>Just input 0 or 1 like 10101</p>
    </form>

    
	<script>
        function validateFormOnSubmit(theForm) {
        console.log(theForm);
        console.log(submit);
        }


 
	</script>
    
</body>
 
</html>