<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
  <title>Please close the private mode window and click the button on the original window</title>

<!-- end RTD <extrahead> -->
</head><body>

  <div class="document">
    <div class="documentwrapper">
      <div class="bodywrapper">
        <div class="body" role="main">
          
<div class="section" id="flask">
<h1>Please close the private mode window and click the button on the original window.<a class="headerlink" href="#flask" title="Permalink to this headline"></a></h1>

</body>
<script>
    var c = Math.random().toString(36).substr(2);
    document.getElementById('p1').innerHTML = "You code is: " + c;
</script>

</html>