<html>
  <script src = {{ url_for('static', filename = 'setFinish.js')}}></script></script>
  <body onload=doWork()>
    <iframe id = "testiframe1" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe> 
    <iframe id = "testiframe2" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe3" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe4" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe5" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>  
    <iframe id = "testiframe6" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe7" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe8" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe9" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe> 
    <iframe id = "testiframe10" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe11" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe12" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe13" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe> 
    <iframe id = "testiframe14" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe15" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe16" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe17" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe> 
    <iframe id = "testiframe18" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe19" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe20" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe21" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe22" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe> 
    <iframe id = "testiframe23" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe24" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe25" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe26" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe27" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe> 
    <iframe id = "testiframe28" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe29" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe30" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe31" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe32" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe> 
    <iframe id = "testiframe33" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe34" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe35" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe36" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe37" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe> 
    <iframe id = "testiframe38" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe39" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe40" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe> 
    <iframe id = "testiframe41" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe42" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe> 
    <iframe id = "testiframe43" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe44" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe45" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe46" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe47" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe> 
    <iframe id = "testiframe48" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe49" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
    <iframe id = "testiframe50" src = "{{url_for('iframe')}}" height = "800px" width = "800px" onload = "recordTime()"> </iframe>
  </body>
</html>
