<!DOCTYPE html>
<html>
<body>

<h1>The iframe element</h1>

<iframe src="https://www.amazon.co.jp/" title="W3Schools Free Online Web Tutorials">

</iframe>
<iframe src="https://www.apple.com/" title="W3Schools Free Online Web Tutorials">

</iframe>
<iframe src="https://www.aparat.com/" title="W3Schools Free Online Web Tutorials">

</iframe>
<iframe src="http://17ok.com/" title="W3Schools Free Online Web Tutorials">

</iframe>
<iframe src="https://www.linkedin.com/" title="W3Schools Free Online Web Tutorials">

</iframe>


</body>
</html>
