<!DOCTYPE html>
<html>
<body>

<h1>The iframe element</h1>

<iframe src="https://www.facebook.com/" title="W3Schools Free Online Web Tutorials">

</iframe>
<iframe src="https://www.facebook.com/" title="W3Schools Free Online Web Tutorials">

</iframe>
<iframe src="https://www.google.com/" title="W3Schools Free Online Web Tutorials">

</iframe>
<iframe src="https://www.google.com/" title="W3Schools Free Online Web Tutorials">

</iframe>
<iframe src="https://www.google.com/" title="W3Schools Free Online Web Tutorials">

</iframe>


</body>
</html>
