<html>
<body>
    <h2>Macroscale Rendering Channel Made Practical in Web Browsers</h2>
<h4>
Browser rendering utilizes hardware resources like CPUand GPU—which are shared within and across browsers—to display web contents, thus inevitably being vulnerable toside channel attacks. Prior works have studied rendering sidechannels to infer microscale events in only one renderingframe, such as the color change of a URL. However, it remainsunclear how to infer macroscale events that happen acrossmultiple rendering frames in a relatively long time like oneor two seconds to several minutes.
<br/>
We designed and implemented a prototype,open-source framework, calledSIDER, to launch four attacksusing the macroscale rendering channel, which are (i) cross-browser, cross-mode cookie synchronization, (ii) history sniff-ing, (iii) website fingerprinting, and (iv) keystroke logging.Our evaluation  shows the effectiveness of the macroscalerendering channel in those attacks.
</h4>

This is the cross-browser, cross-mode cookie synchronization demo.
<br/>
</body>
<a href="http://renderingsidechannelattacks.com:8080/senddemo">
    <button>Click me</button>
</a>
<br/>
<br/>
This is the histroy sniffing attack demo website.
<br/>
</body>
<a href="http://renderingsidechannelattacks.com:8080/test">
    <button>Click me</button>
</a>

</html>